### Importação dos dados

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [2]:
# Define os nomes das lojas para usar como cabeçalho
cabecalho = ["Loja 1", "Loja 2", "Loja 3", "Loja 4"]

# Lista contendo os DataFrames de cada loja
lojas_df = [loja, loja2, loja3, loja4]

# Calcula o faturamento (soma dos preços) de cada loja
faturamento = [float(df["Preço"].sum()) for df in lojas_df]

# Cria uma lista de tuplas associando o nome da loja ao seu faturamento
faturamento_lojas = list(zip(cabecalho, faturamento))

In [3]:
# Percorre a lista de tuplas contendo o nome da loja e seu respectivo faturamento
for loja_nome, faturamento_total in faturamento_lojas:

   # Formata o faturamento com separador de milhar (.) e vírgula como separador decimal (padrão brasileiro)
   faturamento_loja = f"{faturamento_total:,.2f}".replace(",", "X").replace(".", ",").replace("X", ".")

   # Imprime a mensagem formatada contendo o nome da loja e seu faturamento
   print(f"O faturamento da {loja_nome} foi de R$ {faturamento_loja}.")

O faturamento da Loja 1 foi de R$ 1.534.509,12.
O faturamento da Loja 2 foi de R$ 1.488.459,06.
O faturamento da Loja 3 foi de R$ 1.464.025,03.
O faturamento da Loja 4 foi de R$ 1.384.497,58.

# 2. Vendas por Categoria

In [4]:
# Para cada DataFrame da lista 'lojas_df', conta quantas vezes cada categoria de produto aparece.
# Isso resulta em uma lista com contagens por categoria para cada loja.
vendas_por_categoria = [df["Categoria do Produto"].value_counts() for df in lojas_df]

# Combina o nome de cada loja com a respectiva contagem de categorias
# Isso gera uma lista de tuplas: (nome da loja, contagem por categoria)
vendas_por_categoria_lojas = list(zip(cabecalho, vendas_por_categoria))

# Exibe a lista resultante com os dados de vendas por categoria para cada loja
vendas_por_categoria_lojas

[('Loja 1',
  Categoria do Produto
  moveis                   465
  eletronicos              448
  brinquedos               324
  eletrodomesticos         312
  esporte e lazer          284
  instrumentos musicais    182
  livros                   173
  utilidades domesticas    171
  Name: count, dtype: int64),
 ('Loja 2',
  Categoria do Produto
  moveis                   442
  eletronicos              422
  brinquedos               313
  eletrodomesticos         305
  esporte e lazer          275
  instrumentos musicais    224
  livros                   197
  utilidades domesticas    181
  Name: count, dtype: int64),
 ('Loja 3',
  Categoria do Produto
  moveis                   499
  eletronicos              451
  brinquedos               315
  eletrodomesticos         278
  esporte e lazer          277
  livros                   185
  instrumentos musicais    177
  utilidades domesticas    177
  Name: count, dtype: int64),
 ('Loja 4',
  Categoria do Produto
  moveis                   480
  eletronicos              451
  brinquedos               338
  esporte e lazer          277
  eletrodomesticos         254
  utilidades domesticas    201
  livros                   187
  instrumentos musicais    170
  Name: count, dtype: int64)]

In [5]:
# Percorre cada tupla da lista 'vendas_por_categoria_lojas', que contém o nome da loja e as contagens de categorias
for loja_nome, categoria_counts in vendas_por_categoria_lojas:

    # Imprime o título da análise para a loja atual
    print(f"\nAnálise de vendas por categoria para {loja_nome}:")

    # Percorre cada par (categoria, total de vendas) do resultado da contagem
    for categoria, total in categoria_counts.items():

        # Imprime a categoria e o total de produtos vendidos para a loja atual
        print(f"  - Categoria: {categoria.title()}, Total de produtos vendidos: {total}")

Análise de vendas por categoria para Loja 1:
  - Categoria: Moveis, Total de produtos vendidos: 465
  - Categoria: Eletronicos, Total de produtos vendidos: 448
  - Categoria: Brinquedos, Total de produtos vendidos: 324
  - Categoria: Eletrodomesticos, Total de produtos vendidos: 312
  - Categoria: Esporte E Lazer, Total de produtos vendidos: 284
  - Categoria: Instrumentos Musicais, Total de produtos vendidos: 182
  - Categoria: Livros, Total de produtos vendidos: 173
  - Categoria: Utilidades Domesticas, Total de produtos vendidos: 171

Análise de vendas por categoria para Loja 2:
  - Categoria: Moveis, Total de produtos vendidos: 442
  - Categoria: Eletronicos, Total de produtos vendidos: 422
  - Categoria: Brinquedos, Total de produtos vendidos: 313
  - Categoria: Eletrodomesticos, Total de produtos vendidos: 305
  - Categoria: Esporte E Lazer, Total de produtos vendidos: 275
  - Categoria: Instrumentos Musicais, Total de produtos vendidos: 224
  - Categoria: Livros, Total de produtos vendidos: 197
  - Categoria: Utilidades Domesticas, Total de produtos vendidos: 181

Análise de vendas por categoria para Loja 3:
  - Categoria: Moveis, Total de produtos vendidos: 499
  - Categoria: Eletronicos, Total de produtos vendidos: 451
  - Categoria: Brinquedos, Total de produtos vendidos: 315
  - Categoria: Eletrodomesticos, Total de produtos vendidos: 278
  - Categoria: Esporte E Lazer, Total de produtos vendidos: 277
  - Categoria: Livros, Total de produtos vendidos: 185
  - Categoria: Instrumentos Musicais, Total de produtos vendidos: 177
  - Categoria: Utilidades Domesticas, Total de produtos vendidos: 177

Análise de vendas por categoria para Loja 4:
  - Categoria: Moveis, Total de produtos vendidos: 480
  - Categoria: Eletronicos, Total de produtos vendidos: 451
  - Categoria: Brinquedos, Total de produtos vendidos: 338
  - Categoria: Esporte E Lazer, Total de produtos vendidos: 277
  - Categoria: Eletrodomesticos, Total de produtos vendidos: 254
  - Categoria: Utilidades Domesticas, Total de produtos vendidos: 201
  - Categoria: Livros, Total de produtos vendidos: 187
  - Categoria: Instrumentos Musicais, Total de produtos vendidos: 170

# 3. Média de Avaliação das Lojas

In [11]:
# Calcula a média da coluna "Avaliação da compra" para cada DataFrame da lista 'lojas_df'.
# A média é convertida para float e arredondada com 2 casas decimais.
media_avaliacao = [round(float(df["Avaliação da compra"].mean()),2) for df in lojas_df]

# Combina o nome de cada loja (lista 'cabecalho') com a respectiva média de avaliação calculada.
# O resultado é uma lista de tuplas: (nome da loja, média da avaliação)
media_avaliacao_lojas = list(zip(cabecalho, media_avaliacao))

# Exibe a lista resultante com as médias de avaliação por loja
media_avaliacao_lojas

[('Loja 1', 3.98), ('Loja 2', 4.04), ('Loja 3', 4.05), ('Loja 4', 4.0)]

In [13]:
# Percorre cada tupla da lista 'media_avaliacao_lojas', que contém o nome da loja e sua média de avaliação
for loja_nome, media_avaliacao in media_avaliacao_lojas:

    # Imprime a média de avaliação da loja atual de forma formatada
    print(f"A média de avaliação da loja {loja_nome} é de {media_avaliacao}.")

A média de avaliação da loja Loja 1 é de 3.98.
A média de avaliação da loja Loja 2 é de 4.04.
A média de avaliação da loja Loja 3 é de 4.05.
A média de avaliação da loja Loja 4 é de 4.0.

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja